 <table class="table table-bordered">
      <h2 style="font-weight: normal;">投稿数の前日比・前週比</h2>
        <thead>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @user_today_books.count %>
            </td>
            <td>
              <%= @user_1day_books.count %>
            </td>
            <td>
              <% if @user_1day_books.count == 0 %>
                  前日までの投稿が0のため計測不可
              <% else %>
              　<% @day_before = @user_today_books.count / @user_1day_books.count.to_f  %>
              　<%= (@day_before * 100).round %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="table table-bordered">
        <thead>
          <th>今週の投稿数</th>
          <th>先週の投稿数</th>
          <th>前週比</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @user_thisweek.count %></td>
            <td><%= @user_lastweek.count %></td>
            <td>
              <% if @user_lastweek.count == 0 %>
                  前週までの投稿が0のため計測不可
              <% else %>
                <% @week_before = @user_thisweek.count / @user_lastweek.count.to_f  %>
                <%= (@week_before * 100).round %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>


       <table class="table table-bordered">
      <h2 style="font-weight: normal;">直近7日間分の投稿数（表示:<%= @year %>）</h2>
        <thead>
          <th><%= @date7 %></th>
          <th><%= @date6 %></th>
          <th><%= @date5 %></th>
          <th><%= @date4 %></th>
          <th><%= @date3 %></th>
          <th><%= @date2 %></th>
          <th><%= @date1 %> 【本日】</th>
          <th>前週日</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @user_6day_books.count %></td>
            <td><%= @user_5day_books.count %></td>
            <td><%= @user_4day_books.count %></td>
            <td><%= @user_3day_books.count %></td>
            <td><%= @user_2day_books.count %></td>
            <td><%= @user_1day_books.count %></td>
            <td><%= @user_today_books.count %></td>
            <td>
              <% if @user_lastweek.count == 0 %>
                  前週投稿無し<br>計測不可
              <% else %>
                <% @week_before = @user_thisweek.count / @user_lastweek.count.to_f  %>
                <%= (@week_before * 100).round %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
  <canvas id="myLineChart"></canvas>
  <script>
    $(document).on('turbolinks:load', function() {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        // # 'bar'でグラフタイプを縦棒グラフに指定
        type: 'line',
        data: {
          // # 横軸にとるデータ(今回は投稿日付)を埋め込む
          labels: ['<%= @date7 %>', '<%= @date6 %>', '<%= @date5 %>', '<%= @date4 %>', '<%= @date3 %>', '<%= @date2 %>', '<%= @date1 %>' ],
          datasets: [
            {
              label: '投稿数',
              // # 縦軸にとるデータ(今回は投稿数)を埋め込む
              data: [<%= @user_6day_books.count %>, <%= @user_5day_books.count %>, <%= @user_4day_books.count %>,<%= @user_3day_books.count %>,<%= @user_2day_books.count %>,<%= @user_1day_books.count %>,<%= @user_today_books.count %>],
              borderColor: 'rgba(255, 159, 64, 1)',
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '7日間の投稿数の比較'
          },
          scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 10,
            suggestedMin: 0,
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '投稿'
            }
          }
        }]
      },

        }
      });
    });
  </script>